@charset "UTF-8";
html {
  font-family: "Roboto", YuGothic, "Yu Gothic";
  scroll-behavior: smooth;
}

body {
  color: #3e0000 !important;
}

.nav,
.hamburger__icon,
.hamburger__icon:after,
.hamburger__icon:before {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.hamburger {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  padding: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.hamburger__icon {
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
}

.hamburger__icon,
.hamburger__icon:before,
.hamburger__icon:after {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #222;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.hamburger__icon:before,
.hamburger__icon:after {
  position: absolute;
  content: "";
}

.hamburger__icon:before {
  top: -7px;
}

.hamburger__icon:after {
  top: 7px;
}

.hamburger.active .hamburger__icon {
  background-color: transparent;
}

.hamburger.active .hamburger__icon:before,
.hamburger.active .hamburger__icon:after {
  background-color: #fff;
}

.hamburger.active .hamburger__icon:before {
  -webkit-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

.hamburger.active .hamburger__icon:after {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

.nav {
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.nav__wrapper {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
}

.nav.active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.nav ul {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  font-size: 2em;
}

.nav li,
.nav li a {
  color: #fff;
}

.nav li a {
  text-decoration: none;
}

#footer {
  display: none;
}

.container {
  padding: 0 45px;
}

.bg-main {
  background: #faf6e8;
}

header .cart {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  padding: 12px;
}

header img.logo {
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
}

header img.cart_img {
  width: 30px;
}

.sp_footer_nav {
  display: block;
}

/* デザインB（タブレット） */
/* デザインC(PC) */
@media screen and (min-width: 1025px) {
  .nav,
  .hamburger__icon,
  .hamburger__icon:after,
  .hamburger__icon:before {
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
  }
  .hamburger {
    display: block;
    width: 100px;
    height: 50px;
    position: fixed;
    top: 75px;
    left: 1703px;
    z-index: 10000;
    padding: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  .hamburger__icon {
    position: relative;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .hamburger__icon,
  .hamburger__icon:after,
  .hamburger__icon:before {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #3e0000;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    transition-property: background-color, transform, -webkit-transform;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
  .hamburger__icon:after,
  .hamburger__icon:before {
    position: absolute;
    content: "";
  }
  .hamburger__icon:before {
    top: -22px;
  }
  .hamburger__icon:after {
    top: 22px;
  }
  .hamburger.active .hamburger__icon {
    background-color: transparent;
  }
  .hamburger.active .hamburger__icon:after,
  .hamburger.active .hamburger__icon:before {
    background-color: #fff;
  }
  .hamburger.active .hamburger__icon:before {
    -webkit-transform: translateY(22px) rotate(45deg);
    transform: translateY(22px) rotate(45deg);
  }
  .hamburger.active .hamburger__icon:after {
    -webkit-transform: translateY(-22px) rotate(-45deg);
    transform: translateY(-22px) rotate(-45deg);
  }
  .nav {
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .nav__wrapper {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
  }
  .nav.active {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .nav ul {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
  .nav li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    font-size: 2em;
  }
  .nav li,
  .nav li a {
    color: #fff;
  }
  .nav li a {
    text-decoration: none;
  }
  header img.logo {
    width: 200px;
    height: 200px;
    position: fixed;
    z-index: 3;
  }
  header .cart {
    display: block;
    width: 100px;
    height: 50px;
    position: fixed;
    top: 58px;
    right: 24.2px;
    z-index: 10000;
    padding: 12px;
  }
  header .cart img {
    width: 56.78px !important;
    height: 50px !important;
  }
  body {
    width: 100%;
    min-width: 1920px;
    margin: 0 auto;
    color: #3e0000 !important;
  }
  .container {
    width: 1220px;
    margin: 0 auto;
  }
  #footer {
    display: block;
    position: relative;
    background: url(../img/footer_bg.svg) no-repeat;
    background-color: #faf6e8;
    background-size: 100%;
    padding: 185px 0 0 0;
    color: #fff;
  }
  #footer .container {
    width: 1350px;
    height: 100%;
    margin: 0 auto;
  }
  #footer .footer_logo {
    width: 113.59px !important;
    height: 131.51px !important;
  }
  #footer h3 {
    font-size: 36px;
    font-weight: bold;
    line-height: 6.1rem;
  }
  #footer div.ad p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #footer div.ad p span {
    display: block;
    font-size: 16px;
    letter-spacing: 0.94px;
    margin-bottom: 9px;
  }
  #footer div.tel p {
    font-size: 24px;
    display: inline-block;
    margin-right: 57px;
    font-family: YuGothic, "Yu Gothic";
    margin-bottom: 17px;
  }
  #footer div.tel p span {
    margin-right: 16px;
  }
  #footer div.email p {
    font-size: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 57px;
    font-family: YuGothic, "Yu Gothic";
  }
  #footer div.email p span {
    margin-right: 16px;
  }
  #footer .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer hr {
    background: #fff;
    border: solid 2px #fff;
    margin: 16.5px 0 42.5px 0;
  }
  #footer .footer_nav p {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 0.2rem;
    font-family: YuGothic, "Yu Gothic";
  }
  #footer .footer_nav p:before {
    content: "";
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 22.72px;
    /*画像の幅*/
    height: 24.49px;
    /*画像の高さ*/
    background-image: url(../img/appleicon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: top;
    margin-right: 10.3px;
  }
  #footer .footer_nav ul {
    margin-left: 2em;
  }
  #footer .footer_nav li {
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 0.3rem;
  }
  #footer .footer_nav li:first-line {
    margin-left: -1em;
  }
  #footer .policy {
    background: #653333;
    height: 60px;
    padding: 0 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .policy .container {
    width: 1350px;
  }
  #footer .policy p {
    margin-right: 160px;
    display: inline-block;
  }
  #footer .copy {
    background: #3e0000;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .copy p {
    font-size: 10px;
    font-family: YuGothic, "Yu Gothic";
  }
  #footer .copy p span {
    margin-right: 16px;
  }
  #footer .pagetop {
    position: absolute;
    top: -20px;
    right: 176.1px;
  }
}
/*# sourceMappingURL=main.css.map */