@charset "UTF-8";
html {
  font-family: "Roboto", YuGothic, "Yu Gothic";
  scroll-behavior: smooth;
}

.bg-main {
  background: #faf6e8;
}

/* デザインA（スマートフォン） */
/* デザインB（タブレット） */
/* デザインC(PC) */
@media screen and (min-width: 1025px) {
  body {
    min-width: 1920px;
    margin: 0 auto;
    color: #3e0000 !important;
  }
  .container {
    width: 1220px;
    margin: 0 auto;
  }
  .cart {
    display: block;
    width: 100px;
    height: 50px;
    position: fixed;
    top: 58px;
    right: 24.2px;
    z-index: 10000;
    padding: 12px;
  }
  .cart img {
    width: 56.78px !important;
    height: 50px !important;
  }
  #footer {
    position: relative;
    background: url(../img/footer_bg.png) no-repeat;
    background-color: #faf6e8;
    background-size: cover;
    height: 600px;
    padding: 185px 0 0 0;
    color: #fff;
  }
  #footer .container {
    width: 1350px;
    margin: 0 auto;
  }
  #footer .footer_logo {
    width: 113.59px !important;
    height: 131.51px !important;
  }
  #footer h3 {
    font-size: 36px;
    font-weight: bold;
    line-height: 61px;
  }
  #footer div.ad p {
    font-size: 24px;
    line-height: 40px;
  }
  #footer div.ad p span {
    display: block;
    font-size: 16px;
    letter-spacing: 0.59rem;
    line-height: 1rem;
  }
  #footer div.tel {
    margin: 20px 0;
  }
  #footer div.tel p {
    font-size: 24px;
    display: inline-block;
    margin-right: 57px;
  }
  #footer div.tel p span {
    margin-right: 16px;
  }
  #footer div.email p {
    font-size: 24px;
    display: inline-block;
    margin-right: 57px;
  }
  #footer div.email p span {
    margin-right: 16px;
  }
  #footer .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer hr {
    background: #fff;
    border: solid 2px #fff;
    margin: 16.5px 0 42.5px 0;
  }
  #footer .footer_nav p {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 0.2rem;
  }
  #footer .footer_nav p:before {
    content: "";
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 22.72px;
    /*画像の幅*/
    height: 24.49px;
    /*画像の高さ*/
    background-image: url(../img/appleicon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: top;
    margin-right: 10.3px;
  }
  #footer .footer_nav ul {
    margin-left: 2em;
  }
  #footer .footer_nav li {
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 0.3rem;
  }
  #footer .footer_nav li:first-line {
    margin-left: -1em;
  }
  #footer .policy {
    background: #653333;
    height: 60px;
    padding: 0 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .policy p {
    margin-right: 160px;
    display: inline-block;
  }
  #footer .copy {
    background: #3e0000;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .copy p {
    font-size: 10px;
  }
  #footer .copy p span {
    margin-right: 16px;
  }
  #footer .pagetop {
    position: absolute;
    top: -20px;
    right: 176.1px;
  }
}
/*# sourceMappingURL=main.css.map */