/* デザインA（スマートフォン） */

/* デザインB（タブレット） */
@media screen and (min-width: 600px) and (max-width: 1024px) {
}

/* デザインC(PC) */
@media screen and (min-width: 1025px) {
  img {
    width: 100%;
  }
  //   ヘッダー
  header#top {
    height: 804px;
    background: url(../img/top_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    // ロゴ
    img {
      width: 200px;
      height: 200px;
    }
    // タイトル
    h1 {
      position: absolute;
      top: 326px;
      left: 65.26%;
      width: 24.06%;
      height: 83px;
      line-height: 8rem;
      font-size: 6rem;
      font-weight: 100;
      letter-spacing: 0.14rem;
      text-align: center;
    }
    // サブタイトル
    p {
      position: absolute;
      top: 47.4rem;
      left: 66.77%;
      line-height: 6rem;
      letter-spacing: 0.58px;
      width: 21.04%;
      height: 9.1rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
  }
  main {
    h2 {
      padding: 90px 0 216px 0;
      font-weight: 400;
      letter-spacing: 0.58px;
      line-height: 6rem;
      font-size: 24px;
      text-align: center;
    }
    h3 {
      font-size: 36px;
      letter-spacing: 1.2rem;
      line-height: 6rem;
      color: #e5a615;
      font-weight: 400;
      text-align: center;
    }
    .title {
      text-align: center;
      margin-bottom: 128px;
    }
  }

  #product {
    img {
      width: 300px;
      height: 300px;
    }
  }

  .grid-col-gap160 {
    grid-column-gap: 160px;
  }

  .grid-row-gap229 {
    grid-row-gap: 229px;
  }
}
