/* デザインA（スマートフォン） */
body {
  font-size: 16px;
}
//   ヘッダー
header#about {
  background: #faf6e8;
  position: relative;
}
main {
  p.lead {
    padding: 76px 0 90px 0;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 3.2rem;
    font-size: 16px;
    text-align: left;
  }
  .title {
    padding-top: 100px;
    margin-bottom: 76px;
    svg {
      display: block;
      margin: 0 auto;
    }
    // タイトル
    h1 {
      font-size: 42px;
      font-weight: 400;
      color: #e5a615;
      margin-top: 27px;
      text-align: center;
      letter-spacing: 5.76px;
    }
  }
}
#heading {
  margin-bottom: 90.5px;
}
#certificate {
  background: #e5a61558;
  border-radius: 10px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 50px;
  div {
    width: 1160px;
    margin: 0 auto;
    border: 0.5px solid #653333;
    border-radius: 10px;
    align-self: center;
    padding: 0 10px;
  }
  h3 {
    font-size: 18px;
    text-align: center;
    letter-spacing: 2.4px;
    line-height: 4.8rem;
    font-weight: 400;
    border-bottom: solid 1px #653333;
    margin-bottom: 30.5px;
    margin-top: 34px;
  }
  p {
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 3.2rem;
    font-weight: 400;
    margin-bottom: 31px;
  }
  img.certificate_fuji {
    position: absolute;
    right: -15px;
    bottom: -15px;
  }
}

#harvest {
  margin-bottom: 60px;
  .schedule {
    margin-top: 80px;
    width: 100%;
    background: #fefdf9 0% 0% no-repeat padding-box;
    border: 3px solid #653333;
    border-radius: 10px;
    padding: 10px 10px;
    position: relative;
    img.apple_1 {
      display: none;
    }
    img.apple_2 {
      display: none;
    }
  }
  .animation {
    display: none;
  }
}

#banner {
  p {
    font-size: 18px;
    letter-spacing: 2.4px;
    text-align: left;
    margin-bottom: 40px;
  }
  img {
    width: 100%;
  }
}

.description {
  h2 {
    font-size: 24px;
    letter-spacing: 2.4px;
    line-height: 4.8rem;
    font-weight: 400;
    margin-bottom: 54px;
  }
  p {
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 3.2rem;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

#movie {
  margin: 0 0 150px 0;
}

#orin_data {
  margin-bottom: 190px;
  h3 {
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 41px;
    font-weight: 400;
    width: 336px;
    border-bottom: solid 1px #3e0000;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60.5px;
  }
  .description {
    margin-bottom: 160px;
  }
  .orin_point {
    width: 400px;
    margin: 0 auto;
  }
  p.orin_point_one {
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 3.2rem;
    margin-bottom: 30.2px;
  }
  p.orin_point_one:before {
    content: "";
    display: inline-block;
    width: 58.28px;
    height: 62.82px;
    background-image: url(../img/orin_point_one.svg);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 23.7px;
  }
  p.orin_point_two {
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 3.2rem;
    margin-bottom: 30.2px;
  }
  p.orin_point_two:before {
    content: "";
    display: inline-block;
    width: 58.28px;
    height: 62.82px;
    background-image: url(../img/orin_point_two.svg);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 23.7px;
  }
  p.orin_point_three {
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 3.2rem;
  }
  p.orin_point_three:before {
    content: "";
    display: inline-block;
    width: 58.28px;
    height: 62.82px;
    background-image: url(../img/orin_point_three.svg);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 23.7px;
  }
}

#orin_history {
  background: url(../img/orin_history_bg.png) no-repeat;
  background-size: contain;
  background-position: center;
  height: 727px;
  margin-bottom: 179px;
  svg {
    display: block;
    margin: 0 auto;
  }
  .history_title {
    padding-top: 100px;
    h3 {
      font-size: 48px;
      font-weight: 800px;
      letter-spacing: 0.1em;
      line-height: 8.2rem;
      color: #55991d;
      margin-bottom: 96px;
      text-align: center;
    }
    h4 {
      font-size: 24px;
      font-weight: 600px;
      letter-spacing: 0.1em;
      line-height: 4.8rem;
      margin-bottom: 46px;
      text-align: center;
    }
    p {
      width: 900px;
      font-size: 12px;
      letter-spacing: 0.1em;
      line-height: 3.2rem;
      text-align: left;
      margin: 0 auto;
    }
  }
}

#marukou_orin {
  margin-bottom: 239px;
  svg {
    margin: 0 auto;
    display: block;
  }
  h3 {
    font-size: 48px;
    font-weight: 800;
    color: #55991d;
    margin-top: 14.9px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 150px;
  }
  .marukou_orin_lead {
    font-size: 24px;
    letter-spacing: 2.4px;
    line-height: 4.8rem;
    margin-bottom: 40px;
  }
  p {
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 3.2rem;
  }
}

#product {
  h3 {
    font-size: 36px;
    letter-spacing: 3.6px;
    line-height: 6.1rem;
    color: #55991d;
    font-weight: 800;
    text-align: center;
    margin-bottom: 100px;
  }
  img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  p {
    font-weight: bold;
    line-height: 2.7rem;
    text-align: center;
    font-size: 16px;
  }
  span {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 2.7rem;
  }
  .btn {
    background: #fff;
    border: 2px solid #e5a615;
    border-radius: 3px;
    opacity: 1;
    color: #e5a615;
    display: block;
    width: 250px;
    padding: 17px 0;
    text-align: center;
    margin: 0 auto;
    margin-top: 13px;
    font-weight: bold;
  }
  .btn:hover {
    background: #e5a615;
    border: 2px solid #fff;
    border-radius: 3px;
    opacity: 1;
    color: #fff;
    display: block;
    width: 250px;
    padding: 17px 0;
    text-align: center;
    margin: 0 auto;
    margin-top: 13px;
    font-weight: bold;
    transition: 0.1s;
  }
  a.btn_l {
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #e5a615;
    border-radius: 10px;
    opacity: 1;
    color: #fff;
    text-align: center;
    background: #e5a615;
    padding: 34.31px 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 9.6px;
  }
  a.btn_l:hover {
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #fff;
    border-radius: 10px;
    opacity: 1;
    color: #e5a615;
    text-align: center;
    background: #fff;
    padding: 34.31px 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 9.6px;
    transition: 0.1s;
  }
}

.justify-center {
  justify-content: center;
}

.grid-col-gap160 {
  grid-column-gap: 160px;
}

.grid-row-gap90 {
  grid-row-gap: 90px;
}

.grid-col-gap280 {
  grid-column-gap: 280px;
}

.img-box {
  position: relative;
}
.img-box .active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s; // ゆっくり
}
.img-box:hover .active {
  opacity: 1;
}

#slider {
  width: 500px;
  margin: 0 auto 30px;
}
.slide-item {
  img {
    width: 100%;
  }
}
#thumbnail-list {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.thumbnail-item {
  flex: 0 1 30%;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  &:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.3s opacity linear;
  }
  &.thumbnail-current:after {
    opacity: 0;
  }
  img {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
  }
}
/* デザインB（タブレット） */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  //   ヘッダー
  header#about {
    background: #faf6e8;
    position: relative;
  }
  main {
    p.lead {
      padding: 76px 0 90px 0;
      font-weight: 400;
      letter-spacing: 0.1em;
      line-height: 3.2rem;
      font-size: 16px;
      text-align: left;
    }
    .title {
      padding-top: 100px;
      margin-bottom: 76px;
      svg {
        display: block;
        margin: 0 auto;
      }
      // タイトル
      h1 {
        font-size: 48px;
        font-weight: 400;
        color: #e5a615;
        margin-top: 27px;
        text-align: center;
        letter-spacing: 5.76px;
      }
    }
  }
  #heading {
    margin-bottom: 90.5px;
  }
  #certificate {
    background: #e5a61558;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    position: relative;
    margin-bottom: 200px;
    div {
      width: 100%;
      margin: 0 auto;
      border: 0.5px solid #653333;
      border-radius: 10px;
      align-self: center;
      padding: 0 60px;
    }
    h3 {
      font-size: 24px;
      letter-spacing: 2.4px;
      line-height: 4.8rem;
      font-weight: 400;
      width: 100%;
      border-bottom: solid 1px #653333;
      text-align: center;
      margin-bottom: 30.5px;
      margin-top: 34px;
    }
    p {
      font-size: 16px;
      letter-spacing: 1.2px;
      line-height: 5.2rem;
      font-weight: 400;
      margin-bottom: 31px;
    }
    img.certificate_fuji {
      position: absolute;
      right: -15px;
      bottom: -15px;
    }
  }

  #harvest {
    margin-bottom: 121px;
    .schedule {
      margin-top: 80px;
      width: 80%;
      height: auto;
      background: #fefdf9 0% 0% no-repeat padding-box;
      border: 3px solid #653333;
      border-radius: 10px;
      padding: 150px 86px;
      position: relative;
      margin:0 auto;
      object {
        width: 100%;
        margin: 0 auto;
      }
      img.apple_1 {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width:25%;
      }
      img.apple_2 {
        display: block;
        position: absolute;
        left: -0;
        bottom: 0;
        width: 25%;
      }
    }
    .animation {
      display: none;
    }
  }

  #banner {
    p {
      font-size: 24px;
      letter-spacing: 2.4px;
      text-align: center;
      margin-bottom: 83px;
    }
  }

  .description {
    h2 {
      font-size: 24px;
      letter-spacing: 2.4px;
      line-height: 4.8rem;
      font-weight: 400;
      margin-bottom: 30px;
      text-align: center;
    }
    p {
      font-size: 16px;
      letter-spacing: 1.2px;
      line-height: 4rem;
      font-weight: 400;
    }
    div {
      margin-bottom: 100px;
    }
  }

  #movie {
    margin: 0 0 150px 0;
  }

  #orin_data {
    margin-bottom: 190px;
    h3 {
      font-size: 24px;
      letter-spacing: 0.1em;
      line-height: 41px;
      font-weight: 400;
      width: 336px;
      border-bottom: solid 1px #3e0000;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 60.5px;
    }
    .description {
      margin-bottom: 160px;
    }
    .orin_point {
      width: 400px;
      margin: 0 auto;
    }
    p.orin_point_one {
      font-size: 16px;
      letter-spacing: 0.2em;
      line-height: 3.2rem;
      margin-bottom: 30.2px;
    }
    p.orin_point_one:before {
      content: "";
      display: inline-block;
      width: 58.28px;
      height: 62.82px;
      background-image: url(../img/orin_point_one.svg);
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 23.7px;
    }
    p.orin_point_two {
      font-size: 16px;
      letter-spacing: 0.2em;
      line-height: 3.2rem;
      margin-bottom: 30.2px;
    }
    p.orin_point_two:before {
      content: "";
      display: inline-block;
      width: 58.28px;
      height: 62.82px;
      background-image: url(../img/orin_point_two.svg);
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 23.7px;
    }
    p.orin_point_three {
      font-size: 16px;
      letter-spacing: 0.2em;
      line-height: 3.2rem;
    }
    p.orin_point_three:before {
      content: "";
      display: inline-block;
      width: 58.28px;
      height: 62.82px;
      background-image: url(../img/orin_point_three.svg);
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 23.7px;
    }
  }

  #orin_history {
    background: url(../img/orin_history_bg.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 727px;
    margin-bottom: 179px;
    svg {
      display: block;
      margin: 0 auto;
    }
    .history_title {
      padding-top: 100px;
      h3 {
        font-size: 48px;
        font-weight: 800px;
        letter-spacing: 0.1em;
        line-height: 8.2rem;
        color: #55991d;
        margin-bottom: 96px;
        text-align: center;
      }
      h4 {
        font-size: 24px;
        font-weight: 600px;
        letter-spacing: 0.1em;
        line-height: 4.8rem;
        margin-bottom: 46px;
        text-align: center;
      }
      p {
        width: 900px;
        font-size: 12px;
        letter-spacing: 0.1em;
        line-height: 3.2rem;
        text-align: left;
        margin: 0 auto;
      }
    }
  }

  #marukou_orin {
    margin-bottom: 239px;
    svg {
      margin: 0 auto;
      display: block;
    }
    h3 {
      font-size: 48px;
      font-weight: 800;
      color: #55991d;
      margin-top: 14.9px;
      letter-spacing: 0.1em;
      text-align: center;
      margin-bottom: 150px;
    }
    .marukou_orin_lead {
      font-size: 24px;
      letter-spacing: 2.4px;
      line-height: 4.8rem;
      margin-bottom: 40px;
    }
    p {
      font-size: 12px;
      letter-spacing: 1.2px;
      line-height: 3.2rem;
    }
  }

  #product {
    h3 {
      font-size: 36px;
      letter-spacing: 3.6px;
      line-height: 6.1rem;
      color: #55991d;
      font-weight: 800;
      text-align: center;
      margin-bottom: 100px;
    }
    img {
      width: 300px;
      height: 300px;
      border-radius: 10px;
      margin-bottom: 30px;
    }
    p {
      font-weight: bold;
      line-height: 2.7rem;
      text-align: center;
      font-size: 16px;
    }
    span {
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 2.7rem;
    }
    .btn {
      background: #fff;
      border: 2px solid #e5a615;
      border-radius: 3px;
      opacity: 1;
      color: #e5a615;
      display: block;
      width: 250px;
      padding: 17px 0;
      text-align: center;
      margin: 0 auto;
      margin-top: 13px;
      font-weight: bold;
    }
    .btn:hover {
      background: #e5a615;
      border: 2px solid #fff;
      border-radius: 3px;
      opacity: 1;
      color: #fff;
      display: block;
      width: 250px;
      padding: 17px 0;
      text-align: center;
      margin: 0 auto;
      margin-top: 13px;
      font-weight: bold;
      transition: 0.1s;
    }
    a.btn_l {
      width: 400px;
      display: block;
      margin: 0 auto;
      margin-top: 90px;
      box-shadow: 0px 3px 6px #00000029;
      border: 2px solid #e5a615;
      border-radius: 10px;
      opacity: 1;
      color: #fff;
      text-align: center;
      background: #e5a615;
      padding: 34.31px 0;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 9.6px;
    }
    a.btn_l:hover {
      width: 400px;
      display: block;
      margin: 0 auto;
      margin-top: 90px;
      box-shadow: 0px 3px 6px #00000029;
      border: 2px solid #fff;
      border-radius: 10px;
      opacity: 1;
      color: #e5a615;
      text-align: center;
      background: #fff;
      padding: 34.31px 0;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 9.6px;
      transition: 0.1s;
    }
  }

  .justify-center {
    justify-content: center;
  }

  .grid-col-gap160 {
    grid-column-gap: 160px;
  }

  .grid-row-gap90 {
    grid-row-gap: 90px;
  }

  .grid-col-gap280 {
    grid-column-gap: 280px;
  }

  .img-box {
    position: relative;
  }
  .img-box .active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.5s; // ゆっくり
  }
  .img-box:hover .active {
    opacity: 1;
  }

  #slider {
    width: 500px;
    margin: 0 auto 30px;
  }
  .slide-item {
    img {
      width: 100%;
    }
  }
  #thumbnail-list {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .thumbnail-item {
    flex: 0 1 30%;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    &:after {
      content: "";
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: 0.3s opacity linear;
    }
    &.thumbnail-current:after {
      opacity: 0;
    }
    img {
      width: 100%;
      margin: 0 auto;
      border-radius: 10px;
    }
  }
  .zoom {
    margin: 0 auto; //サンプルで中央に寄せたいので書かせていただいております。
    overflow: hidden;
    display: block;
  }
  .zoom img {
    transition: 1s all;
  }
  .zoom img:hover {
    transform: scale(1.2, 1.2);
    transition: 1s all;
  }
}

/* デザインC(PC) */
@media screen and (min-width: 1025px) {
  body {
    font-size: 16px;
  }
  //   ヘッダー
  header#about {
    background: #faf6e8;
    position: relative;
  }
  main {
    p.lead {
      padding: 76px 0 90px 0;
      font-weight: 400;
      letter-spacing: 0.1em;
      line-height: 3.2rem;
      font-size: 16px;
      text-align: left;
    }
    .title {
      padding-top: 100px;
      margin-bottom: 76px;
      svg {
        display: block;
        margin: 0 auto;
      }
      // タイトル
      h1 {
        font-size: 48px;
        font-weight: 400;
        color: #e5a615;
        margin-top: 27px;
        text-align: center;
        letter-spacing: 5.76px;
      }
    }
  }
  #heading {
    margin-bottom: 90.5px;
  }
  #certificate {
    background: #e5a61558;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    position: relative;
    margin-bottom: 200px;
    div {
      width: 1160px;
      margin: 0 auto;
      border: 0.5px solid #653333;
      border-radius: 10px;
      align-self: center;
      padding: 0 60px;
    }
    h3 {
      font-size: 24px;
      letter-spacing: 2.4px;
      line-height: 4.8rem;
      font-weight: 400;
      width: 602px;
      border-bottom: solid 1px #653333;
      text-align: center;
      margin-bottom: 30.5px;
      margin-top: 34px;
    }
    p {
      font-size: 16px;
      letter-spacing: 1.2px;
      line-height: 5.2rem;
      font-weight: 400;
      margin-bottom: 31px;
    }
    img.certificate_fuji {
      position: absolute;
      right: -15px;
      bottom: -15px;
    }
  }

  #harvest {
    margin-bottom: 121px;
    .schedule {
      margin-top: 80px;
      width: 100%;
      height: 1585px;
      background: #fefdf9 0% 0% no-repeat padding-box;
      border: 3px solid #653333;
      border-radius: 10px;
      padding: 150px 86px;
      position: relative;
      img.apple_1 {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      img.apple_2 {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    .animation {
      display: none;
    }
  }

  #banner {
    p {
      font-size: 24px;
      letter-spacing: 2.4px;
      text-align: center;
      margin-bottom: 83px;
    }
  }

  .description {
    h2 {
      font-size: 24px;
      letter-spacing: 2.4px;
      line-height: 4.8rem;
      font-weight: 400;
      margin-bottom: 30px;
    }
    p {
      font-size: 16px;
      letter-spacing: 1.2px;
      line-height: 4rem;
      font-weight: 400;
    }
    div {
      margin-bottom: 100px;
    }
  }

  #movie {
    margin: 0 0 150px 0;
  }

  #orin_data {
    margin-bottom: 190px;
    h3 {
      font-size: 24px;
      letter-spacing: 0.1em;
      line-height: 41px;
      font-weight: 400;
      width: 336px;
      border-bottom: solid 1px #3e0000;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 60.5px;
    }
    .description {
      margin-bottom: 160px;
    }
    .orin_point {
      width: 400px;
      margin: 0 auto;
    }
    p.orin_point_one {
      font-size: 16px;
      letter-spacing: 0.2em;
      line-height: 3.2rem;
      margin-bottom: 30.2px;
    }
    p.orin_point_one:before {
      content: "";
      display: inline-block;
      width: 58.28px;
      height: 62.82px;
      background-image: url(../img/orin_point_one.svg);
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 23.7px;
    }
    p.orin_point_two {
      font-size: 16px;
      letter-spacing: 0.2em;
      line-height: 3.2rem;
      margin-bottom: 30.2px;
    }
    p.orin_point_two:before {
      content: "";
      display: inline-block;
      width: 58.28px;
      height: 62.82px;
      background-image: url(../img/orin_point_two.svg);
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 23.7px;
    }
    p.orin_point_three {
      font-size: 16px;
      letter-spacing: 0.2em;
      line-height: 3.2rem;
    }
    p.orin_point_three:before {
      content: "";
      display: inline-block;
      width: 58.28px;
      height: 62.82px;
      background-image: url(../img/orin_point_three.svg);
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 23.7px;
    }
  }

  #orin_history {
    background: url(../img/orin_history_bg.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 727px;
    margin-bottom: 179px;
    svg {
      display: block;
      margin: 0 auto;
    }
    .history_title {
      padding-top: 100px;
      h3 {
        font-size: 48px;
        font-weight: 800px;
        letter-spacing: 0.1em;
        line-height: 8.2rem;
        color: #55991d;
        margin-bottom: 96px;
        text-align: center;
      }
      h4 {
        font-size: 24px;
        font-weight: 600px;
        letter-spacing: 0.1em;
        line-height: 4.8rem;
        margin-bottom: 46px;
        text-align: center;
      }
      p {
        width: 900px;
        font-size: 12px;
        letter-spacing: 0.1em;
        line-height: 3.2rem;
        text-align: left;
        margin: 0 auto;
      }
    }
  }

  #marukou_orin {
    margin-bottom: 239px;
    svg {
      margin: 0 auto;
      display: block;
    }
    h3 {
      font-size: 48px;
      font-weight: 800;
      color: #55991d;
      margin-top: 14.9px;
      letter-spacing: 0.1em;
      text-align: center;
      margin-bottom: 150px;
    }
    .marukou_orin_lead {
      font-size: 24px;
      letter-spacing: 2.4px;
      line-height: 4.8rem;
      margin-bottom: 40px;
    }
    p {
      font-size: 12px;
      letter-spacing: 1.2px;
      line-height: 3.2rem;
    }
  }

  #product {
    h3 {
      font-size: 36px;
      letter-spacing: 3.6px;
      line-height: 6.1rem;
      color: #55991d;
      font-weight: 800;
      text-align: center;
      margin-bottom: 100px;
    }
    img {
      width: 300px;
      height: 300px;
      border-radius: 10px;
      margin-bottom: 30px;
    }
    p {
      font-weight: bold;
      line-height: 2.7rem;
      text-align: center;
      font-size: 16px;
    }
    span {
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 2.7rem;
    }
    .btn {
      background: #fff;
      border: 2px solid #e5a615;
      border-radius: 3px;
      opacity: 1;
      color: #e5a615;
      display: block;
      width: 250px;
      padding: 17px 0;
      text-align: center;
      margin: 0 auto;
      margin-top: 13px;
      font-weight: bold;
    }
    .btn:hover {
      background: #e5a615;
      border: 2px solid #fff;
      border-radius: 3px;
      opacity: 1;
      color: #fff;
      display: block;
      width: 250px;
      padding: 17px 0;
      text-align: center;
      margin: 0 auto;
      margin-top: 13px;
      font-weight: bold;
      transition: 0.1s;
    }
    a.btn_l {
      width: 400px;
      display: block;
      margin: 0 auto;
      margin-top: 90px;
      box-shadow: 0px 3px 6px #00000029;
      border: 2px solid #e5a615;
      border-radius: 10px;
      opacity: 1;
      color: #fff;
      text-align: center;
      background: #e5a615;
      padding: 34.31px 0;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 9.6px;
    }
    a.btn_l:hover {
      width: 400px;
      display: block;
      margin: 0 auto;
      margin-top: 90px;
      box-shadow: 0px 3px 6px #00000029;
      border: 2px solid #fff;
      border-radius: 10px;
      opacity: 1;
      color: #e5a615;
      text-align: center;
      background: #fff;
      padding: 34.31px 0;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 9.6px;
      transition: 0.1s;
    }
  }

  .justify-center {
    justify-content: center;
  }

  .grid-col-gap160 {
    grid-column-gap: 160px;
  }

  .grid-row-gap90 {
    grid-row-gap: 90px;
  }

  .grid-col-gap280 {
    grid-column-gap: 280px;
  }

  .img-box {
    position: relative;
  }
  .img-box .active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.5s; // ゆっくり
  }
  .img-box:hover .active {
    opacity: 1;
  }

  #slider {
    width: 500px;
    margin: 0 auto 30px;
  }
  .slide-item {
    img {
      width: 100%;
    }
  }
  #thumbnail-list {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .thumbnail-item {
    flex: 0 1 30%;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    &:after {
      content: "";
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: 0.3s opacity linear;
    }
    &.thumbnail-current:after {
      opacity: 0;
    }
    img {
      width: 100%;
      margin: 0 auto;
      border-radius: 10px;
    }
  }
  .zoom {
    margin: 0 auto; //サンプルで中央に寄せたいので書かせていただいております。
    overflow: hidden;
    display: block;
  }
  .zoom img {
    transition: 1s all;
  }
  .zoom img:hover {
    transform: scale(1.2, 1.2);
    transition: 1s all;
  }
}
