html {
  font-family: "Roboto", YuGothic, "Yu Gothic";
  scroll-behavior: smooth;
}

.bg-main {
  background: #faf6e8;
}
/* デザインA（スマートフォン） */

/* デザインB（タブレット） */
@media screen and (min-width: 600px) and (max-width: 1024px) {
}

/* デザインC(PC) */
@media screen and (min-width: 1025px) {
  header {
    // ロゴ
    img {
      width: 200px;
      height: 200px;
      position: fixed;
      z-index: 3;
    }
  }
  body {
    min-width: 1920px;
    margin: 0 auto;
    color: #3e0000 !important;
  }

  .container {
    width: 1220px;
    margin: 0 auto;
  }

  .cart {
    display: block;
    width: 100px;
    height: 50px;
    position: fixed;
    top: 58px;
    right: 24.2px;
    z-index: 10000;
    padding: 12px;
    img {
      width: 56.78px !important;
      height: 50px !important;
    }
  }

  #footer {
    position: relative;
    background: url(../img/footer_bg.svg) no-repeat;
    background-color: #faf6e8;
    background-size: cover;
    padding: 185px 0 0 0;
    color: #fff;
    .container {
      width: 1350px;
      height: 100%;
      margin: 0 auto;
    }
    .footer_logo {
      width: 113.59px !important;
      height: 131.51px !important;
    }
    h3 {
      font-size: 36px;
      font-weight: bold;
      line-height: 6.1rem;
    }
    div.ad {
      p {
        font-size: 24px;
        margin-bottom: 20px;
        span {
          display: block;
          font-size: 16px;
          letter-spacing: 0.94px;
          margin-bottom: 9px;
        }
      }
    }
    div.tel {
      p {
        font-size: 24px;
        display: inline-block;
        margin-right: 57px;
        font-family: YuGothic, "Yu Gothic";
        margin-bottom: 17px;
        span {
          margin-right: 16px;
        }
      }
    }
    div.email {
      p {
        font-size: 24px;
        display: inline-block;
        margin-right: 57px;
        font-family: YuGothic, "Yu Gothic";
        span {
          margin-right: 16px;
        }
      }
    }
    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    hr {
      background: #fff;
      border: solid 2px #fff;
      margin: 16.5px 0 42.5px 0;
    }
    .footer_nav {
      p {
        font-size: 24px;
        margin-bottom: 20px;
        letter-spacing: 0.2rem;
        font-family: YuGothic, "Yu Gothic";
      }
      p:before {
        content: ""; /*何も入れない*/
        display: inline-block; /*忘れずに！*/
        width: 22.72px; /*画像の幅*/
        height: 24.49px; /*画像の高さ*/
        background-image: url(../img/appleicon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: top;
        margin-right: 10.3px;
      }
      ul {
        margin-left: 2em;
      }
      li {
        margin-bottom: 20px;
        font-size: 16px;
        letter-spacing: 0.3rem;
      }
      li:first-line {
        margin-left: -1em;
      }
    }
    .policy {
      background: #653333;
      height: 60px;
      padding: 0 300px;
      display: flex;
      align-items: center;
      p {
        margin-right: 160px;
        display: inline-block;
      }
    }
    .copy {
      background: #3e0000;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 10px;
        span {
          margin-right: 16px;
        }
        font-family: YuGothic, "Yu Gothic";
      }
    }
    .pagetop {
      position: absolute;
      top: -20px;
      right: 176.1px;
    }
  }
}
