/* デザインA（スマートフォン） */

/* デザインB（タブレット） */
@media screen and (min-width: 600px) and (max-width: 1024px) {
}

/* デザインC(PC) */
@media screen and (min-width: 1025px) {
  body {
    font-size: 16px;
  }
  //   ヘッダー
  header#orin {
    background: #faf6e8;
    position: relative;
    // ロゴ
    img {
      width: 200px;
      height: 200px;
    }
    // タイトル
    h1 {
      font-size: 48px;
      font-weight: 800;
      color: #55991d;
      margin-top: 27px;
    }
  }
  main {
    p.lead {
      padding: 76px 0 90px 0;
      font-weight: 400;
      letter-spacing: 0.1em;
      line-height: 3.2rem;
      font-size: 16px;
      text-align: left;
    }
    .title {
      text-align: center;
    }
  }

  #movie {
    margin: 90px 0 150px 0;
  }

  #orin_data {
    margin-bottom: 190px;
    h3 {
      font-size: 24px;
      letter-spacing: 0.1em;
      line-height: 41px;
      font-weight: 400;
      width: 336px;
      border-bottom: solid 1px #3e0000;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 60.5px;
    }
    .description {
      margin-bottom: 160px;
    }
    .orin_point {
      width: 400px;
      margin: 0 auto;
    }
    p.orin_point_one {
      font-size: 16px;
      letter-spacing: 0.2em;
      line-height: 3.2rem;
      margin-bottom: 30.2px;
    }
    p.orin_point_one:before {
      content: "";
      display: inline-block;
      width: 58.28px;
      height: 62.82px;
      background-image: url(../img/orin_point_one.svg);
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 23.7px;
    }
    p.orin_point_two {
      font-size: 16px;
      letter-spacing: 0.2em;
      line-height: 3.2rem;
      margin-bottom: 30.2px;
    }
    p.orin_point_two:before {
      content: "";
      display: inline-block;
      width: 58.28px;
      height: 62.82px;
      background-image: url(../img/orin_point_two.svg);
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 23.7px;
    }
    p.orin_point_three {
      font-size: 16px;
      letter-spacing: 0.2em;
      line-height: 3.2rem;
    }
    p.orin_point_three:before {
      content: "";
      display: inline-block;
      width: 58.28px;
      height: 62.82px;
      background-image: url(../img/orin_point_three.svg);
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 23.7px;
    }
  }

  #orin_history {
    background: url(../img/orin_history_bg.svg) no-repeat;
    background-size: 1920px;
    height: 727px;
    margin-bottom: 179px;
    svg {
      display: block;
      margin: 0 auto;
    }
    .history_title {
      padding-top: 100px;
      h3 {
        font-size: 48px;
        font-weight: 800px;
        letter-spacing: 0.1em;
        line-height: 8.2rem;
        color: #55991d;
        margin-bottom: 96px;
        text-align: center;
      }
      h4 {
        font-size: 24px;
        font-weight: 600px;
        letter-spacing: 0.1em;
        line-height: 4.8rem;
        margin-bottom: 46px;
        text-align: center;
      }
      p {
        width: 900px;
        font-size: 12px;
        letter-spacing: 0.1em;
        line-height: 3.2rem;
        text-align: left;
        margin: 0 auto;
      }
    }
  }

  #marukou_orin {
    svg {
      margin: 0 auto;
      display: block;
    }
    h3 {
      font-size: 48px;
      font-weight: 800;
      color: #55991d;
      margin-top: 14.9px;
      letter-spacing: 0.1em;
      text-align: center;
    }
    .marukou_orin_lead {
      font-size: 24px;
      letter-spacing: 2.4px;
      line-height: 4.8rem;
    }
    p {
      font-size: 12px;
    }
  }

  #product {
    img {
      width: 300px;
      height: 300px;
      border-radius: 10px;
      margin-bottom: 30px;
    }
    p {
      font-weight: bold;
      line-height: 2.7rem;
      text-align: center;
      font-size: 16px;
    }
    span {
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 2.7rem;
    }
    .btn {
      background: #fff;
      border: 2px solid #e5a615;
      border-radius: 10px;
      opacity: 1;
      color: #e5a615;
      display: block;
      width: 250px;
      padding: 17px 0;
      text-align: center;
      margin: 0 auto;
      margin-top: 13px;
      font-weight: bold;
    }
    .btn:hover {
      background: #e5a615;
      border: 2px solid #fff;
      border-radius: 10px;
      opacity: 1;
      color: #fff;
      display: block;
      width: 250px;
      padding: 17px 0;
      text-align: center;
      margin: 0 auto;
      margin-top: 13px;
      font-weight: bold;
      transition: 0.1s;
    }
    a.btn_l {
      width: 400px;
      display: block;
      margin: 0 auto;
      margin-top: 90px;
      box-shadow: 0px 3px 6px #00000029;
      border: 2px solid #e5a615;
      border-radius: 10px;
      opacity: 1;
      color: #fff;
      text-align: center;
      background: #e5a615;
      padding: 34.31px 0;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 9.6px;
    }
    a.btn_l:hover {
      width: 400px;
      display: block;
      margin: 0 auto;
      margin-top: 90px;
      box-shadow: 0px 3px 6px #00000029;
      border: 2px solid #fff;
      border-radius: 10px;
      opacity: 1;
      color: #e5a615;
      text-align: center;
      background: #fff;
      padding: 34.31px 0;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 9.6px;
      transition: 0.1s;
    }
  }

  .justify-center {
    justify-content: center;
  }

  .grid-col-gap160 {
    grid-column-gap: 160px;
  }

  .grid-row-gap90 {
    grid-row-gap: 90px;
  }

  .grid-col-gap280 {
    grid-column-gap: 280px;
  }

  #about {
    img {
      width: 500px;
      border-radius: 10px;
      padding-left: 30px;
    }
    p {
      text-align: center;
      font-size: 24px;
      letter-spacing: 1.2px;
      line-height: 41px;
      margin-top: 40px;
    }
  }
  .img-box {
    position: relative;
  }
  .img-box .active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.5s; // ゆっくり
  }
  .img-box:hover .active {
    opacity: 1;
  }
}
